<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1064434205499-3jh1pmm5sg44q47ss73e44auue73m45c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1064434205499-3jh1pmm5sg44q47ss73e44auue73m45c</string>
	<key>API_KEY</key>
	<string>AIzaSyBpaLYq0iOJXgzY0RlZTy4nwBKdOIPLMoc</string>
	<key>GCM_SENDER_ID</key>
	<string>1064434205499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jomarcreations.cheetahrider</string>
	<key>PROJECT_ID</key>
	<string>cheetah-e4ad8</string>
	<key>STORAGE_BUCKET</key>
	<string>cheetah-e4ad8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1064434205499:ios:c42fc69c1d850b20f62d1e</string>
	<key>DATABASE_URL</key>
	<string>https://cheetah-e4ad8-default-rtdb.firebaseio.com</string>
</dict>
</plist>